# Dépendances
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js et fichiers de build
.next/
.out/
build/

# Configurations locales
.env
.env.*
.vercel

# Fichiers temporaires ou spécifiques à l'environnement
__pycache__/
.DS_Store
*.log
*.pem
env/
